MONGODB_URI=mongodb+srv://greenpi_app:<db_password>@greenpi-cluster.qkcdcd7.mongodb.net/?appName=greenpi-cluster
MONGODB_DB=greenpi_iot
FRONTEND_URL=https://invernadero.ricardious.dev
ARM64_DIR=../arm64
