MQTT_HOST=broker.emqx.io
MQTT_PORT=1883
MQTT_CLIENT_ID_PREFIX=greenpi-g15-iot
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_QOS=0

MONGODB_URI=mongodb+srv://usuario@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=greenpi_iot

SIMULATION_MODE=true
SENSOR_INTERVAL_SECONDS=0.2
MQTT_PUBLISH_INTERVAL_SECONDS=1
