NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_MQTT_WSS_URL=wss://broker.emqx.io:8084/mqtt
NEXT_PUBLIC_MQTT_TOPIC_PREFIX=greenpi/g15

# Login demo
NEXT_PUBLIC_AUTH_USER=admin
NEXT_PUBLIC_AUTH_PASSWORD=1234
